<nav class="navbar navbar-dark bg-primary navbar-expand-md py-md-2 fixed-top ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="/">Story App</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item"> <a class="nav-link" href="/">Home</a> </li>
            <li class="nav-item"> <a class="nav-link" href="/about">About</a> </li>
            {{#if user}}
                <li class="nav-item"> <a class="nav-link" href="/user/story">Your storys</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/user/creat">Creat story</a> </li>           
            {{/if}}

        </ul>
        <ul class="navbar-nav">
            {{#if user}}
                <li class="nav-item"> <a class="nav-link btn btn-primary" href="/user/logout">Logout</a> </li>
            {{else}}
                <li class="nav-item"> <a class="nav-link btn btn-primary" href="/user/login">Login</a> </li>
                <li class="nav-item"> <a class="nav-link btn btn-primary" href="/user/register">Register</a> </li>
            {{/if}}
        </ul>
    </div>
</nav>